html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: #dbffc1;
  margin: 0;
}

.title {
  text-decoration: none;
  color: #000000;
}

.header {
  background-color: #dbffc1;
  background-image: url(/images/header-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
}
.header__title {
  font-family: "Comforter", cursive;
  font-size: 80px;
  text-align: center;
}

.card__link {
  text-decoration: none;
}

.introduction {
  text-align: center;
}

.introduction,
.text {
  margin-bottom: 60px;
}

.heading-second,
.article__title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #386641;
}

.heading-third,
.article__title {
  font-size: 20px;
  margin-top: 50px;
  color: #386641;
  text-decoration: underline overline;
  text-align: center;
}

.heading-fourth {
  font-size: 23px;
  font-style: italic;
  color: #386641;
  margin-top: 50px;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  font-weight: 600;
  color: #386641;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #386641;
}

.menu__item {
  list-style: none;
  border-bottom: 2px solid #dbffc1;
}

.menu__link {
  text-decoration: none;
  color: #dbffc1;
  display: block;
  padding: 10px;
}
.menu__link:hover {
  background-color: #bc4749;
  color: #ffe4f3;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.main {
  padding: 20px 20px;
}

.text {
  text-align: center;
}

.footer {
  padding: 5px;
  color: #dbffc1;
  background-color: #386641;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}
.card__item {
  border: 1px solid transparent;
  background-color: #ffeef2;
  border-radius: 4px;
  box-shadow: 3px 5px 13px -3px #b2a1af;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.card__image {
  width: 50%;
  border-radius: 50%;
}
.card__title {
  font-weight: 600;
  color: #386641;
  /*text-decoration: none; nefugnuje na zmenu toho odkazu*/
}
.card__item--first {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.card__item--second {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.card__item--third {
  grid-column: 1/-1;
  grid-row: 3/-1;
}

.topic__image {
  width: 300px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.topic__text {
  line-height: 1.7;
  margin-bottom: 30px;
}

.topic__item {
  border-bottom: 1px solid #386641;
  margin-top: 50px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list__item {
  list-style-type: square;
  color: #bc4749;
}

.list__link {
  color: #bc4749;
}

.article__title {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #386641;
  text-decoration: underline overline;
  text-align: left;
}

.article__perex {
  margin-bottom: 50px;
  font-weight: 600;
}

.article__image {
  width: 300px;
}

/* DODELAT VERZI PRO TABLET
@media screen and (min-width: 600px) {
  .card__item {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;


}*/
@media screen and (min-width: 800px) {
  .body {
    font-size: 20px;
  }

  .heading-second,
.article__title {
    font-size: 40px;
  }

  .heading-third,
.article__title {
    font-size: 25px;
  }

  .menu__toggler {
    display: none;
  }

  .menu__list {
    display: flex;
    justify-content: space-evenly;
  }

  .menu__item {
    border-bottom: 0;
  }

  .menu__link:hover {
    background-color: #bc4749;
    color: #ffe4f3;
  }

  .main {
    padding: 50px 80px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-bottom: 100px;
  }
  .card__item--first, .card__item--fourth {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .card__item--second, .card__item--fifth {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
  .card__item--third, .card__item--sixth {
    grid-column: 3/-1;
    grid-row: 1/-1;
  }

  .topic__image--first,
.topic__image--seventh {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .heading-third {
    text-align: left;
  }

  .topic__item {
    display: flex;
    gap: 50px;
  }

  .topic__image {
    width: 400px;
  }

  .topic__image--fifth,
.topic__image--sixth,
.topic__image--eighth {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .heading-third--float {
    clear: left;
  }

  .topic__image--seventh,
.topic__image--eighth {
    width: 500px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*posunout na stred jak u mobile tak pc*/
    grid-auto-rows: auto;
  }

  /*
    .list__item {
      justify-content: space-evenly;
    }*/
  .list--short {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .article__image {
    width: 350px;
  }

  .article__date {
    text-align: left;
  }

  .article__content {
    display: flex;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */