$main-color: #e8fdda;
$red-color: #bc4749;
$light-color: #ffe4f3;
$dark-color: #386641;
$baby-pink-color: #ffeef2; 
$box-shadow-color: #b2a1af;
$title-color: #000000;


$font-heading-main: 'Comforter', cursive;
$font-paragraphs: 'Open Sans', sans-serif;



html {
    box-sizing: border-box;
  }
  
*, ::before, ::after {
  box-sizing: inherit;
}

.body {
  font-family: $font-paragraphs; 
  font-size: 15px; 
  background-color: $main-color;
  margin: 0;
  
}

.title {
  text-decoration: none;
  color: $title-color;
}

.header {
  background-color: $main-color;
  background-image: url(/images/header-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px;

  &__title {
    font-family: $font-heading-main;
    font-size: 80px;
    text-align: center;
  
  }
  
}


.card__link {
  text-decoration: none;
} 

.text--introduction {
  margin-bottom: 60px;

}

.heading-second,
.article__title {
  font-family: $font-paragraphs;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: $dark-color;


}

.heading-third,
.article__title {
  font-size: 20px;
  margin-top: 50px;
  color: $dark-color;
  text-decoration: underline overline;
  text-align: center;
}

.heading-fourth,
.article__subtitle {
  font-size: 19px; 
  font-style: italic; 
  color: $dark-color;
  margin-top: 25px;
  
}


.menu__checkbox {
  position: absolute;
	left: -9999px;
}

.menu__toggler {
  font-weight: 600;
  color: $dark-color;
  font-size: 20px;
}


.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  background-color: $dark-color;
}

.menu__item {
  list-style: none;
  border-bottom: 2px solid $main-color;
  

}

.menu__link {
  text-decoration: none;
  color: $main-color;
  display: block;
  padding: 10px;  

  &:hover {
    background-color: #bc4749;
    color: $light-color;
  }
  
}


.menu__checkbox:checked ~ .menu__list {
	display: block;
}

.main {
  padding: 20px 20px;

}

.footer {
  padding: 5px;
  color: $main-color;
  background-color: $dark-color;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;

  &__item {
    border: 1px solid transparent;
    background-color: $baby-pink-color;
    border-radius: 4px;
    box-shadow: 3px 5px 13px -3px #b2a1af;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  
  
  }
  
  &__image {
    width: 50%;
    border-radius: 50%;
    
  }
  
  &__title {
    font-weight: 600;
    color: $dark-color;
  }
  
  
  &__item--first {
    grid-column: 1/-1;
    grid-row: 1/2;
    
  }
  
  &__item--second {
    grid-column: 1/-1;
    grid-row: 2/3;
  
  }
  
  &__item--third {
    grid-column: 1/-1;
    grid-row: 3/-1;
  
  }
  
}

.topic--products {
  border: 1px solid $baby-pink-color;
  background-color: $baby-pink-color;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 0 20px 0 20px;
}

.topic__image {
  width: 100%;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 5px;
  

}

.topic__text {
  line-height: 1.7;
  margin-bottom: 30px;
}


.topic__item {
  border-bottom: 1px solid $dark-color;
  margin-top: 50px;

}

.list {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding: 0;

}

.list--short {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;

}


.list__item {
  list-style-type: square;
  color: $red-color;


  
}

.list__link {
  color: $red-color;
  
}

.article__title {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: $dark-color;
  text-decoration: underline overline;
  text-align: left;
}

.article__perex {
  margin-bottom: 50px;
  font-weight: 600;
}

.article__image {
  width: 100%;
  border-radius: 5px;

} 

.link {
  color: $red-color;
}

.blog-post__photo {
  width: 100%;
  border-radius: 4px;
}
  
@media screen and (min-width: 600px) {

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-bottom: 100px;

    &__item--first,
    &__item--fourth {
      grid-column: 1/2;
      grid-row: 1/-1;
      
    }
    
    &__item--second,
    &__item--fifth {
      grid-column: 2/3;
      grid-row: 1/-1;
    
    }
    
    &__item--third,
    &__item--sixth {
      grid-column: 3/-1;
      grid-row: 1/-1;
    
    }

    &__item--sixth {
      padding-bottom: 5px;
    }

    .card__title--long {
      text-align: center;
      margin-top: 19px;
    }

  

  }

}

@media screen and (min-width: 800px) {

  .body {
    font-size: 20px; 
    
  }
  
  .header {
    padding: 20px;
  
    &__title {
      font-size: 130px;
    
    }
    
  }
  

  .heading-second,
  .article__title {
    font-size: 40px;


  }

  .heading-third,
  .article__title {
    font-size: 25px;
  }

  .heading-fourth,
  .article__subtitle {
    font-size: 23px; 
    margin-top: 50px;

    
  }

  .menu__toggler {
    display: none;
  }

  .menu__list {
    display: flex;
    justify-content: space-evenly;
  }

  .menu__item {
    border-bottom: 0;
    

  }

  .menu__link:hover {
    background-color: #bc4749;
    color: $light-color;
  }

  .main {
    padding: 50px 80px;
  
  }

  .text--introduction {
    text-align: center;
    margin-bottom: 60px;
  
  }
  
  
  .topic__image--first,
  .topic__image--seventh {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    
  }
  
  .heading-third {
    text-align: left;
  }
  
  .topic__item {
    display: flex;
    gap: 50px;

  }
  
  .topic__image {
    width: 400px;

  }

  .topic__image--sixth,
  .topic__image--eighth,
  .topic__image--ninth {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;

  }

  .heading-third--float {
    clear: left;
  }

  .topic__image--seventh,
  .topic__image--eighth {
    width: 500px;
  }


  .list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    column-gap: 70px;
    padding: 0;
  
  }
  
  .list--short {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-bottom: 50px;

  }
  
  .article__image {
    width: 350px;
  }

  .article__date {
    text-align: left;
  }
  
  
  .article__content {
    display: flex;
    gap: 40px;
    
  }

  .blog-post {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .blog-post__left {
    width: 15%;
  }

  .blog-post__right {
    width: 85%;
    margin-bottom: 20px;
  }

  .ramecek {
    border: 1px solid $baby-pink-color;
    border-radius: 5px;
    background-color: $baby-pink-color;
  }

}