    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
		<label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

        <ul class="menu__list">
            <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
            <li class="menu__item"><a href="/zit-netoxicky/" class="menu__link">Žít netoxicky</a></li>
            <li class="menu__item"><a href="/slozeni-produktu/" class="menu__link">Složení produktů</a></li>
            <li class="menu__item"><a href="/vhodne-produkty/" class="menu__link">Vhodné produkty</a></li>
            <li class="menu__item"><a href="/recenze/" class="menu__link">Recenze produktů</a></li>
            <li class="menu__item"><a href="/clanky/" class="menu__link">Články</a></li>

        </ul>

    </nav>
